<div style="border:solid Chocolate 2px; padding: 40px">

<b>Hello, Amir!üëã How are you today?</b>
    
My name is Arina U. and I am glad to be your reviewer in this project! Nice to meet you!<br />


You can find my comments in <font color='green'>green</font>, <font color='gold'>yellow</font> and <font color='red'>red</font> boxes. Examples you can see below:
    
<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> In case if task is completely correct and everything is alright!
</div>


<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  In case when I can give some advice that can help you to improve your work or recommend you some useful links and resources that can help you widen your knowledge and help in future tasks.
</div>

<div class="alert alert-block alert-danger">
    <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Needs fixing!ü§î:</b> In case when step requires some extra work and some corrections. Project can't be accepted with comments in the red boxes
</div>

Please pay attention to not move or change my comments. It would be good to highlight your answers in some way. 

#### <font color='Purple'>Student's commentary:</font> for example like this <a class="tocSkip"> </div>
    
OK, now let's go!üòè
</font>

# Analyzing borrowers‚Äô risk of defaulting

The project is to prepare a report for a bank‚Äôs loan division. I need to find out if a customer‚Äôs marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers‚Äô credit worthiness.

The prosses includes getting the data file, examine it, deal with missing values, wrong values and categorize the data.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.


<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>

Ok, Amir,  it is great that you started your project with the short introduction, but it is also important to fix the main aim of the project and include the content plan of your work, so don't forget to do it next timeüôÇ

## Open the data file and have a look at the general information.

In [1]:
#import pandas library
import pandas as pd

In [2]:
#read input data
try:
    df=pd.read_csv("credit_scoring_eng.csv",sep=",")
except:
    df=pd.read_csv("/datasets/credit_scoring_eng.csv",sep=",")

    
<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
It is absolutely correct that you used the `try-except` here, this construction can help to avoid errors when you try to load the data.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Conclusion

1. there are 12 columns
2. two of them with missing data: days_employed and total_income
3. it is possible that there is connection between  the missing data and other information like is_employed?

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 

Ok, you have explored the data, pointed out the main problems in it, so, let's see what results you got at the next steps of the analysis!üëÄ

## Data preprocessing

### Processing missing values

In [4]:
#list of all missing values in the Dataset
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  
    
Ok, Amir, it is important to look not just at the amount of missing values in every column, but at the percentage of missing values in columns, for example, like this:
    
`data.isnull().sum()*100/len(data)`
       
`data.isnull().mean() * 100`

Or like this:
    
`report = data.isna().sum().to_frame()
report = report.rename(columns = {0: 'missing_values'})
report['% of total'] = (report['missing_values'] / data.shape[0]).round(2)
report.sort_values(by = 'missing_values', ascending = False)`
       
You did it only for column `total_income` but I would like to recommedn you to do it for all column because there are missing values not only in the column `total_income`

In [5]:
#look at some of them to see if there a reason for the missing value
df.loc[df["days_employed"].isnull(),:].head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
65,0,NaN,21,secondary education,1,unmarried,4,M,business,0,NaN,transactions with commercial real estate
67,0,NaN,52,bachelor's degree,0,married,0,F,retiree,0,NaN,purchase of the house for my family
72,1,NaN,32,bachelor's degree,0,married,0,M,civil servant,0,NaN,transactions with commercial real estate
82,2,NaN,50,bachelor's degree,0,married,0,F,employee,0,NaN,housing
83,0,NaN,52,secondary education,1,married,0,M,employee,0,NaN,housing

In [6]:
#some of them are retiree so it is acceptable they are not employed and have no total_income
#lets check if there are other income_type="retiree" that do have positive days at days_employed
df[(df["days_employed"]>0) & (df["income_type"]=="retiree")].head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
18,0,400281.136913,53,secondary education,1,widow / widower,2,F,retiree,0,9091.804,buying a second-hand car
24,1,338551.952911,57,secondary education,1,unmarried,4,F,retiree,0,46487.558,transactions with commercial real estate
25,0,363548.489348,67,secondary education,1,married,0,M,retiree,0,8818.041,buy real estate
30,1,335581.668515,62,secondary education,1,married,0,F,retiree,0,27432.971,transactions with commercial real estate

<div class="alert alert-info">
  <strong>My fix!</strong> here is what I added / changed
</div>

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary: second iteration of the review <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, let's look at your correctionsüëÄ

In [7]:
#before filling in missing values in column days_employed 
#it is important to get rid of the negative values in this column. Try to use abs() to handle the negative values
df["days_employed"]=df["days_employed"].abs()

In [8]:
#there are retiree with days_employed and total_incone, so there are no explenation for the missing data.
#I will fill the missing data with the median (on income - median is better than mean)
df['days_employed'].fillna(df['days_employed'].median(),inplace=True)

In [9]:
#filling the same for total_income
df['total_income'].fillna(df['total_income'].median(),inplace=True)

In [10]:
#checking there are no more missing values
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Conclusion

All days employed and total income was filled with the median

<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  
       
As for preprocessing of the missing values.
              

Common logic is that it is better to think about the strategies of filling in the missing values and if it is impossible to fill in the missing values we can simply leave missing values in the data unchanged, because sometimes when the percentage of the missing values is big and the data is rather sensitive our attempts to fill in missing values using mean or median can be risky in terms of distortion of the original data, so it is important to take it into consideration!
       
We can use median to fill in missing values in column  `total_income` because this statistics is more resistant to outliers. As a whole I would like to recommend you to be more careful with handling missing values first you should check how large their share is. You did this action, so, I can agree with your strategy.
        
So, finally is important to understand the nature of the missing values, formulate hypotheses or reasons for the presence of missing values in the data, and based on these hypotheses, try to choose a way to fill the data. It is important to understand that replacing missing values with a simple median or mean by column can significantly distort the original data if the percentage of gaps in the columns exceeds 10%.
    
So here you can use grouping method, when you try to understand what factors can be connected to each other and use `groupby` method for aggregating and filling in the data. For example, you can check the typical values of the client, depending on the age, education and type of employment of the client. Or check other dependencies. You can lso use correlation to check the dependancies and then use grouping method to restore the data.

<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  

More recommendations about the data preprocessing:
       
* some of the columns have error values, for example XNA in `gender` it is better to deal with such anomalies and artefacts values

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary: second iteration of the review <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, Amir, good job, agree with your improvements at this step of the analysis!

### Data type replacement

In [11]:
#checking the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

My first goal is to change data type to make processing efficient, by changing from general type like "object" to specific type like float and from float to integer.
My second goal is to use the minimum memory requirement of each column. Thus I check every column to see if memory requirement can be reduce
$\alpha^2$

#### Things planned to do
1. children $ \Rightarrow\ $ int16
2. days_employed $ \Rightarrow\ $ int64
3. dob_years $ \Rightarrow\ $ int32
4. education - keep (maybe move it to other file and leave only the id)
5. education_id $ \Rightarrow\ $ int16
6. family_status - keep (maybe move it to other file and leave only the id)
7. family_status_id $ \Rightarrow\ $ int16
8. gender $ \Rightarrow\ $ bool
9. income_type - keep
10. debt - keep
11. total_income $ \Rightarrow\ $ int64
12. purpose - keep

#### Changes I will do
because the data file is not very big, I will change only the necessary data types as follow:
2. days_employed $ \Rightarrow\ $ int64
11. total_income $ \Rightarrow\ $ int64

In [12]:
df["days_employed"]=df["days_employed"].astype("int64")
df["total_income"]=df["total_income"].astype("int64")

In [13]:
#checking the data types are changed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Conclusion

I changed the the data types of two columns from float to integer in order to make it consistent with the other colomns. I could reduce memory usage and change the int columns from int64 to int32 and int16, but it will not save a lot of memory on this small file

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 

Ok, as a whole you changed the data types correctly.

### Processing duplicates

First, check if there are any duplicates. The problem is that the data doesnt have unique key, so I'll use combitation to simulate unique entity by dob_years + gender + family_status_id. I will check if there are any duplicates:

<div class="alert alert-info">
  <strong>My fix!</strong> here is what I added / changed
</div>

In [14]:
#first stage of finding duplicates - make all Object columns lower case 
#to avoid not finding duplicates with same values but mix upper and lower cases
for column in df.select_dtypes("object").columns:
    df[column] = df[column].str.lower()

In [15]:
#fast check to see if there are exact nuplicates:
df.duplicated().sum()

71

In [16]:
#remove all duplecates:
df=df[~df.duplicated()]

In [17]:
#Checking
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21454 entries, 0 to 21524
Data columns (total 12 columns):
children            21454 non-null int64
days_employed       21454 non-null int64
dob_years           21454 non-null int64
education           21454 non-null object
education_id        21454 non-null int64
family_status       21454 non-null object
family_status_id    21454 non-null int64
gender              21454 non-null object
income_type         21454 non-null object
debt                21454 non-null int64
total_income        21454 non-null int64
purpose             21454 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

In [18]:
# checking duplicates on 3 columns
df[["dob_years", "gender", "family_status_id"]].duplicated().sum()

20952

### Conclusion

It tried to look for duplicates. Because I have no unique key for the list (I cannot know the person applying), I deleted exact copy. when I tried to examine closer, there are too many duplicate I am not sure about, so no delete ther

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary: second iteration of the review <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, everything is alright!

In [19]:
#checking for unwanted data colums- data I cannot fix thus I cannot use:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000
mean,0.539946,60570.114617,43.271231,0.817097,0.973898,0.081150,26435.649389
std,1.383444,133435.760575,12.570822,0.548674,1.421567,0.273072,15683.370828
min,-1.000000,24.000000,0.000000,0.000000,0.000000,0.000000,3306.000000
25%,0.000000,1023.000000,33.000000,1.000000,0.000000,0.000000,17219.500000
50%,0.000000,2194.000000,42.000000,1.000000,0.000000,0.000000,23202.000000
75%,1.000000,4797.000000,53.000000,1.000000,1.000000,0.000000,31330.000000
max,20.000000,401755.000000,75.000000,4.000000,4.000000,1.000000,362496.000000

In [20]:
#I see children from -1 to 20. negative number of childrem is impossible and 
#it may be data entry error, ill fix it to absolute value, about 20 children, while it is rare, it is possible:
(df["children"]<0).sum()

47

In [21]:
df[df["children"]<0]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
291,-1,4417,46,secondary education,1,civil partnership,1,f,employee,0,16450,profile education
705,-1,902,50,secondary education,1,married,0,f,civil servant,0,22061,car purchase
742,-1,3174,57,secondary education,1,married,0,f,employee,0,10282,supplementary education
800,-1,349987,54,secondary education,1,unmarried,4,f,retiree,0,13806,supplementary education
941,-1,2194,57,secondary education,1,married,0,f,retiree,0,23202,buying my own car
1363,-1,1195,55,secondary education,1,married,0,f,business,0,11128,profile education
1929,-1,1461,38,secondary education,1,unmarried,4,m,employee,0,17459,purchase of the house
2073,-1,2539,42,secondary education,1,divorced,3,f,business,0,26022,purchase of the house
3814,-1,3045,26,secondary education,1,civil partnership,1,f,civil servant,0,21102,having a wedding
4201,-1,901,41,secondary education,1,married,0,f,civil servant,0,36220,transactions with my real estate
4402,-1,398001,64,secondary education,1,married,0,f,retiree,0,26122,buy real estate
4542,-1,1811,32,secondary education,1,married,0,f,employee,0,25687,education
5272,-1,1143,46,secondary education,1,widow / widower,2,f,employee,0,44593,buy real estate
6013,-1,1361,46,bachelor's degree,0,married,0,f,employee,0,22881,construction of own property
6385,-1,370215,48,secondary education,1,widow / widower,2,f,retiree,0,5768,education
7190,-1,5928,34,secondary education,1,married,0,m,employee,0,29490,car purchase
7278,-1,526,51,secondary education,1,married,0,f,employee,0,23508,transactions with commercial real estate
7615,-1,2194,35,secondary education,1,married,0,m,employee,0,23202,education
7685,-1,3237,53,secondary education,1,widow / widower,2,f,employee,0,25548,building a real estate
8229,-1,1803,54,bachelor's degree,0,married,0,f,business,0,22209,buy real estate
8251,-1,3113,31,secondary education,1,civil partnership,1,f,employee,0,8705,to own a car
8561,-1,195,31,secondary education,1,married,0,f,employee,0,23292,housing renovation
9565,-1,2896,34,bachelor's degree,0,married,0,m,employee,0,20280,real estate transactions
9574,-1,2710,28,bachelor's degree,0,married,0,m,civil servant,0,48501,to get a supplementary education
10177,-1,1743,37,secondary education,1,married,0,m,employee,0,49658,getting an education
10365,-1,345774,63,bachelor's degree,0,widow / widower,2,f,retiree,0,27322,building a real estate
10918,-1,340499,50,secondary education,1,married,0,m,retiree,0,27322,purchase of my own house
11109,-1,3438,59,secondary education,1,married,0,f,employee,0,35179,housing transactions
11268,-1,1048,30,bachelor's degree,0,civil partnership,1,f,business,0,51456,to buy a car
11617,-1,370,27,secondary education,1,married,0,f,business,0,26334,buying property for renting out
12304,-1,8493,61,some college,2,married,0,m,employee,0,50400,property
13786,-1,2194,42,secondary education,1,unmarried,4,m,business,0,23202,car
14357,-1,268,23,secondary education,1,divorced,3,f,business,0,14761,buy residential real estate
15147,-1,9851,44,secondary education,1,divorced,3,f,employee,0,17758,to own a car
15435,-1,3614,40,bachelor's degree,0,civil partnership,1,f,employee,0,15700,to have a wedding
16129,-1,457,33,secondary education,1,married,0,f,employee,1,23942,car
16265,-1,2802,40,bachelor's degree,0,married,0,m,employee,0,17917,purchase of the house
17095,-1,2809,34,secondary education,1,married,0,f,employee,0,29207,buying a second-hand car
17429,-1,895,37,secondary education,1,married,0,f,business,0,34370,housing
17657,-1,4571,41,secondary education,1,married,0,f,employee,0,19536,transactions with my real estate
18219,-1,3575,33,secondary education,1,married,0,f,employee,0,20537,university education
19100,-1,617,38,secondary education,1,unmarried,4,m,employee,0,19552,building a real estate
19366,-1,372,43,secondary education,1,married,0,m,employee,0,24894,second-hand car purchase
19417,-1,350340,28,secondary education,1,divorced,3,f,retiree,0,8459,cars
20393,-1,355157,69,secondary education,1,unmarried,4,f,retiree,0,18643,real estate transactions
20717,-1,661,32,bachelor's degree,0,married,0,f,employee,0,21984,buy residential real estate
21140,-1,1422,44,secondary education,1,married,0,f,business,0,27129,transactions with my real estate

In [22]:
#replace the -1 with 1
df[df["children"]<0]=1

In [23]:
#checking there are no more negtive numbers
(df["children"]<0).sum()

0

In [24]:
#children number groups 
df["children"].unique()

array([ 1,  0,  3,  2,  4, 20,  5])

In [25]:
#number of rows with 20 children - very very odd. I leave it without a change - have no more info to fix or maybe ok?
(df["children"]==20).sum()

76

In [26]:
# days_employed cannot be negative, I dont know how to fix it, I can ignore this column because I dont know 
#what and how to manipulate the data

<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  
       
As I mentioned above, you can use `abs()` to deal with all negative values in your dataset just apply it to column you want to preprocess.

In [27]:
#checking age, it is immposible for age under 18:
(df["dob_years"]<18).sum()

148

In [28]:
# I will replace them with the mean age of the data
mean_age = int(df["dob_years"].mean())
df.loc[df["dob_years"]<18,"dob_years"] = mean_age

In [29]:
#checking
(df["dob_years"]<18).sum()

0

all the other numeric columns shows no errors

### Categorizing Data

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21454 entries, 0 to 21524
Data columns (total 12 columns):
children            21454 non-null int64
days_employed       21454 non-null int64
dob_years           21454 non-null int64
education           21454 non-null object
education_id        21454 non-null int64
family_status       21454 non-null object
family_status_id    21454 non-null int64
gender              21454 non-null object
income_type         21454 non-null object
debt                21454 non-null int64
total_income        21454 non-null int64
purpose             21454 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

I will start with checking the columns that I can benefit from categorizing. I'll check: dob_years and total_income. I'll use 4 group for each: <25%, 25%-50%, 50%-75%, >75%

In [31]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000,21454.000000
mean,0.544327,60448.651440,43.474597,0.817470,0.973991,0.083294,26381.918943
std,1.381726,133333.127709,12.202126,0.548374,1.420027,0.276333,15723.866795
min,0.000000,1.000000,19.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,1017.000000,34.000000,1.000000,0.000000,0.000000,17156.250000
50%,0.000000,2194.000000,43.000000,1.000000,0.000000,0.000000,23202.000000
75%,1.000000,4791.750000,53.000000,1.000000,1.000000,0.000000,31317.750000
max,20.000000,401755.000000,75.000000,4.000000,4.000000,1.000000,362496.000000

In [32]:
df_backup=df.copy()

In [33]:
def assign_age_group(age):
    if age <= 33:
        return '18-33'
    elif age <= 42:
        return "34-42"
    elif age <= 53:
        return "43-53"
    return "54+"

def assign_income_group(age):
    if age <= 17225:
        return '0-17k'
    elif age <= 23202:
        return "17k-23k"
    elif age <= 31320:
        return "23k-31k"
    return "31k+"

df["age_group"] = df["dob_years"].apply(assign_age_group)
df["income_group"] = df["total_income"].apply(assign_income_group)

In [34]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group,income_group
0,1,8437,42,bachelor's degree,0,married,0,f,employee,0,40620,purchase of the house,34-42,31k+
1,1,4024,36,secondary education,1,married,0,f,employee,0,17932,car purchase,34-42,17k-23k
2,0,5623,33,secondary education,1,married,0,m,employee,0,23341,purchase of the house,18-33,23k-31k
3,3,4124,32,secondary education,1,married,0,m,employee,0,42820,supplementary education,18-33,31k+
4,0,340266,53,secondary education,1,civil partnership,1,f,retiree,0,25378,to have a wedding,43-53,23k-31k

### Conclusion

I have made two new columns for categorizing age and income

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Well, Amir, as a whole the logic of categorization in case of age and income is correct.

## Answer these questions

- Is there a relation between having kids and repaying a loan on time?

<div class="alert alert-info">
  <strong>My fix!</strong> here is what I added / changed
</div>

In [35]:
#It is better not to analyse the category of 20 children, 
#it is an error in the data and it is better to preprocess this value (you can change it to 2)
df.loc[df["children"]==20,"children"]=2

#first - calculate repaying a loan retio
df["debt"].value_counts()

In [37]:
#Checking if marital status is a parameter for repaying a loan on time
table_children = df.pivot_table(index="children",columns="debt",values="family_status_id",aggfunc="count",margins=True)
table_children.columns=["Paying","Nonpaying","All"]
table_children["ratio_%"]=table_children["Nonpaying"]/table_children["Paying"]*100
table_children.style.bar(subset=["ratio_%"],color='#5fba7d',vmin=8.0)

### Conclusion

The ratio of default returning loan is smaller without children and with 3 childrens otherwise its about 2% greater

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, it is great that you used the pivot_table method here and calculated the ratio of debt repayment.

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary: second iteration of the review <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, you correctly preprocessed the 20 value in column `children`, keep it up!

- Is there a relation between marital status and repaying a loan on time?

In [38]:
#Checking if marital status is a parameter for repaying a loan on time
table_martial = df.pivot_table(index="family_status",columns="debt",values="family_status_id",aggfunc="count",margins=True)
table_martial.columns=["Paying","Nonpaying","All"]
table_martial["ratio_%"]=table_martial["Nonpaying"]/table_martial["Paying"]*100
table_martial.style.bar(subset=["ratio_%"],color='#5fba7d',vmin=7.0)

In [39]:
#family status 1 - checking why no one pays
df[df["family_status"]==1]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group,income_group
291,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
705,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
742,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
800,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
941,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
1363,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
1929,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
2073,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
3814,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
4201,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
4402,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
4542,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
5272,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
6013,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
6385,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
7190,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
7278,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
7615,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
7685,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
8229,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
8251,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
8561,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
9565,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
9574,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
10177,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
10365,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
10918,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
11109,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
11268,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
11617,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
12304,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
13786,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
14357,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
15147,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
15435,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
16129,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
16265,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
17095,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
17429,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
17657,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
18219,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
19100,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
19366,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
19417,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
20393,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
20717,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k
21140,1,1,43,1,1,1,1,1,1,1,1,1,43-53,0-17k

In [40]:
#family status 1 are all wrong data - should be deleted:
df=df[df["family_status"]!=1]
#checking
df[df["family_status"]==1]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, age_group, income_group]
Index: []

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Yes, you are right, this values is error.

In [41]:
#now checking marital status again:
table_martial = df.pivot_table(index="family_status",columns="debt",values="family_status_id",aggfunc="count",margins=True)
table_martial.columns=["Paying","Nonpaying","All"]
table_martial["ratio_%"]=table_martial["Nonpaying"]/table_martial["Paying"]*100
table_martial

                   Paying  Nonpaying    All    ratio_%
family_status
civil partnership    3758        388   4146  10.324641
divorced             1106         85   1191   7.685353
married             11380        930  12310   8.172232
unmarried            2531        274   2805  10.825761
widow / widower       892         63    955   7.062780
All                 19667       1740  21407   8.847308

### Conclusion

The ratio of default returning loan is smaller with out children and with divorced, widow / widower and married. otherwise its about 2% greater

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, absolutely agree with your results.

- Is there a relation between income level and repaying a loan on time?

In [42]:
#Checking if income is a parameter for repaying a loan on time
table_income = df.pivot_table(index="income_group",columns="debt",values="total_income",aggfunc="count",margins=True)
table_income.columns=["Paying","Nonpaying","All"]
table_income["ratio_%"]=table_income["Nonpaying"]/table_income["Paying"]*100
table_income.style.bar(subset=["ratio_%"],color='#5fba7d',vmin=7.5)

### Conclusion

The ratio of default returning loan is smaller with the smalles and bigest income.

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, good job!

- Is there a relation between age and repaying a loan on time?

In [43]:
#Checking if age is a parameter for repaying a loan on time
table_age = df.pivot_table(index="age_group",columns="debt",values="dob_years",aggfunc="count",margins=True)
table_age.columns=["Paying","Nonpaying","All"]
table_age["ratio_%"]=table_age["Nonpaying"]/table_age["Paying"]*100
table_age.style.bar(subset=["ratio_%"],color='#5fba7d',vmin=5.5)

### Conclusion

The ratio of default returning loan decreaced as the loaner older.

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary<a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, it is great that you didn't forget to analyse the age groups.

- How do different loan purposes affect on-time repayment of the loan?

In [44]:
#checking loan proposes - how many there are
df["purpose"].value_counts()

wedding ceremony                            791
having a wedding                            767
to have a wedding                           764
real estate transactions                    673
buy commercial real estate                  661
housing transactions                        651
buying property for renting out             650
transactions with commercial real estate    649
housing                                     645
purchase of the house                       643
purchase of the house for my family         638
construction of own property                634
property                                    632
transactions with my real estate            624
building a real estate                      621
purchase of my own house                    619
building a property                         619
buy real estate                             618
housing renovation                          606
buy residential real estate                 604
buying my own car                           504
going to university                         496
car                                         492
second-hand car purchase                    485
cars                                        477
buying a second-hand car                    477
to own a car                                476
to buy a car                                470
car purchase                                459
supplementary education                     458
purchase of a car                           455
university education                        451
to get a supplementary education            445
education                                   444
getting an education                        441
profile education                           434
getting higher education                    426
to become educated                          408
Name: purpose, dtype: int64

<div class="alert alert-info">
  <strong>My fix!</strong> here is what I added / changed
</div>

I can use the lemmatization technique for categorization of the loan purposes. This time I used the simplest way - just looking at the string. If it was failing or if there where a lot of unknown categories i would use lemmatization

In [45]:
# checking the category of purpose can by divided to 7 categoris
purpose_list = list(df["purpose"].unique())
print(len(purpose_list))
count=0
for i in purpose_list:
    if "car" in i:
        print(i,"  -car")
        count+=1
    elif "hous" in i:
        print( i,"  -house")
        count+=1
    elif "educat" in i:
        print( i,"  -education")
        count+=1
    elif "real estate" in i:
        print( i,"  -real estate")
        count+=1    
    elif "wedd" in i:
        print( i,"  -wedd")
        count+=1    
    elif "property" in i:
        print( i,"  -property")
        count+=1    
    elif "university" in i:
        print( i,"  -university")
        count+=1        
print(f"{count}")

38
purchase of the house   -house
car purchase   -car
supplementary education   -education
to have a wedding   -wedd
housing transactions   -house
education   -education
having a wedding   -wedd
purchase of the house for my family   -house
buy real estate   -real estate
buy commercial real estate   -real estate
buy residential real estate   -real estate
construction of own property   -property
property   -property
building a property   -property
buying a second-hand car   -car
buying my own car   -car
transactions with commercial real estate   -real estate
building a real estate   -real estate
housing   -house
transactions with my real estate   -real estate
cars   -car
to become educated   -education
second-hand car purchase   -car
getting an education   -education
car   -car
wedding ceremony   -wedd
to get a supplementary education   -education
purchase of my own house   -house
real estate transactions   -real estate
getting higher education   -education
to own a car   -car
purchase of a car   -car
profile education   -education
university education   -education
buying property for renting out   -property
to buy a car   -car
housing renovation   -house
going to university   -university
38

In [46]:
#building a function and adding the purpose
def purpose_cat(pur):
    if "car" in pur:
        return "car"
    elif "hous" in pur:
        return "house, property and real estate"
    elif "educat" in pur:
        return "education"
    elif "real estate" in pur:
        return "house, property and real estate"
    elif "wedd" in pur:
        return "wedding"
    elif "property" in pur:
        return "house, property and real estate"
    elif "university" in pur:
        return "education"
df["purpose_category"]=df["purpose"].apply(purpose_cat)
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group,income_group,purpose_category
0,1,8437,42,bachelor's degree,0,married,0,f,employee,0,40620,purchase of the house,34-42,31k+,"house, property and real estate"
1,1,4024,36,secondary education,1,married,0,f,employee,0,17932,car purchase,34-42,17k-23k,car
2,0,5623,33,secondary education,1,married,0,m,employee,0,23341,purchase of the house,18-33,23k-31k,"house, property and real estate"
3,3,4124,32,secondary education,1,married,0,m,employee,0,42820,supplementary education,18-33,31k+,education
4,0,340266,53,secondary education,1,civil partnership,1,f,retiree,0,25378,to have a wedding,43-53,23k-31k,wedding

In [47]:
#Checking if purpose is a parameter for repaying a loan on time
table_purp = df.pivot_table(index="purpose_category",columns="debt",values="purpose",aggfunc="count",margins=True)
table_purp.columns=["Paying","Nonpaying","All"]
table_purp["ratio_%"]=table_purp["Nonpaying"]/table_purp["Paying"]*100
table_purp.style.bar(subset=["ratio_%"],color='#5fba7d',vmin=7.0)

### Conclusion

car and education default the most

<div class="alert alert-block alert-warning">
   <h2>Reviewer's commentary <a class="tocSkip"> </h2>
    <br/>
<b>Remarks and recommendationsüìå:</b>  
       
As for categorization, I can agree with the categories you managed to reveal, but I would like to recommend you to use the lemmatization technique fo categorization of the loan purposes.
       
How does this work?
      
You used the `.unique()` method to identify the unique entities in column with loan purposes, then you create the list of lemmatized loan purposes using special method, and finally you can apply the loop or function to categorize the data.
       
More information about the lemmatization see below:
       
https://www.machinelearningplus.com/nlp/lemmatization-examples-python/
       
https://www.guru99.com/stemming-lemmatization-python-nltk.html
       
And as for your final categories, I would like to recommend you to unite the categories house, property, real estate in one common category.

<div class="alert alert-block alert-success">
    <h2>Reviewer's commentary: second iteration of the review <a class="tocSkip"> </h2>
    <br/>
<b>Well done!üëç:</b> 
        
Ok, now your decision is correct, you are doing great!

## General conclusion

The data is a list of loan takers with some characteristic about the. After cleaning the data, I found connection between these characteristic: age, number of children, income, family status and purpose.
The connections are presented in separated tables, one for each parameter. I presented the relation in every table between the parameter and the ratio of default repay of the loans. The last parameter was str based. and included a few unique reason for taking the load. I used strait forward approach to categorized the list by word un the string like "car" and "house". If the list were bigger, I would had to take other approach to analyze the purpose like using stemming in nltk linrary.

<div style="border:solid Chocolate 2px; padding: 40px">

**The overall review conclusion**

Amir, thank you for submitting your project! I can see that you've worked really hard on it! Good job! But there are several things in your project which I suppose it is important to fix in order to make your project really ideal! My comments will navigate you!

**Good things and practices in your project I want to highlightüôÇ**:t!
* You use different methods for working with your data. It is really great that you can apply these methods on practice, keep it up!
* It is great that you use automation tools that you use for completing the tasks and created your own functions! 
* You have formulated the conclusions and explanations at each step of the analysis, it is the right strategy!
    
**What is worth working onüëÄ**:
    
* It is important to preprocess the anomalies and artefacts values in data
* For categorization of the loan purposes it is important to use lemmatization.
* You will find additional recommendations in my comments!
    
 
**Good luck! I will wait for your work for a second iteration of the review!üòâ**

![gif](https://media.giphy.com/media/pJu3xzRa2PzTq/giphy.gif)

<div style="border:solid Chocolate 2px; padding: 40px">

**The overall review conclusion: second iteration of the review**

Amir, thank you for submitting your project with corrections!
    
You did a great job to improve the project, so I hasten to say that your project has been accepted and you can proceed to the next sprint!
    
**I wish you exciting and cool projects in the next sprintsüòâ**

![gif](https://media.giphy.com/media/HXF45CT8cvzZC/giphy.gif)

## Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [x]  file examined;
- [x]  missing values defined;
- [x]  missing values are filled;
- [x]  an explanation of which missing value types were detected;
- [x]  explanation for the possible causes of missing values;
- [x]  an explanation of how the blanks are filled;
- [x]  replaced the real data type with an integer;
- [x]  an explanation of which method is used to change the data type and why;
- [x]  duplicates deleted;
- [x]  an explanation of which method is used to find and remove duplicates;
- [x]  description of the possible reasons for the appearance of duplicates in the data;
- [x]  data is categorized;
- [x]  an explanation of the principle of data categorization;
- [x]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [x]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [x]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [x]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [x]  conclusions are present on each stage;
- [x]  a general conclusion is made.